body
{
	font-family: 'Playfair Display', serif;
}

#container
{
	width: 1001px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	width: 1001px;
	height: 200px;
}

#menu
{
	background-color: #E4EDE5;
	margin-top: 10px;
	color:#000000;
	padding:11px;
}

.option
{
	float:left;
	width:185px;
	height: 25px;
	text-align: center;
	font-size: 18px;
	border-right: 1px solid #000000;
	padding: 5px;
}

#lastOption
{
	float:left;
	width:185px;
	height: 25px;
	text-align: center;
	font-size: 18px;
	padding: 5px;
}

.option:hover
{
	background-color: #DCE0DD;
	cursor: pointer;
}

#lastOption:hover
{
	background-color: #DCE0DD;
	cursor: pointer;
}

#topbar
{
	margin-top:20px;
	height:190px;
}

#topbarL
{
	float:left;
	height:190px;
}

#topbarR
{
	float:left;
	font-family: 'Great Vibes', cursive;
	width:699px;
	margin-top: 32px;
}

#cytat
{
	font-size: 35px;
	text-align: center;
}

#podpis
{
	font-size: 30px;
	text-align: right;
	margin-top: 32px;
}

#sidebar
{
	float: left;
	background-color: #E4EDE5;
	margin-top: 10px;
	width: 167px;
	min-height: 740px;
	text-align: center;
	font-size: 18px;
	padding: 20px;
}

.optionL
{
	height: 27px;
	font-size: 17px;
	border-bottom: 1px dotted #000000;
	padding: 5px;
}

.optionL:hover
{
	background-color: #DCE0DD;
	cursor: pointer;
}

#content
{
	float: left;
	background-color: #F2FAF3;
	margin-top: 10px;
	width: 714px;
	min-height: 700px;
	text-align: justify;
	font-size: 15px;
	padding: 40px;
}

#footer
{
	clear: both;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 20px;
}