h1
{
	margin: 0 0 20px 0;
}

select
{
	width: 130px;
	height: 25px;
	font-size: 14px;
}

#error
{
	color: #ff6600;
	font-size: 15px;
	text-align: center;
}

button
{
	width: 200px;
	background-color: #36b03c;
	font-size: 20px;
	color: white;
	padding: 10px 15px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}

button:focus
{
	-webkit-box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.9);
	-moz-box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.9);
	box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.9);
}

button:hover
{
	background-color: #37b93d;
}